body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
.post{
    margin: auto;
    flex-direction: column;
    height: 550px;
    width: 400px;
    background-color:white;
}
.post-header{
    display:flex;
    align-items: center;
    margin:2%; 
    justify-content: space-between;
}
.titulo{
    display: flex;
}
.user{
    margin:3%;
    margin-left:6px;
}
.fontsize{
    font-size: 40px;
    margin-top:3%;
}
.material-symbols-outlined{
    justify-items:right;
}
img{
    height: 250px;
    width: 400px;
}
.post-body{
    margin:2%;
    margin-top:0;
}
.post-icons{
    align-items: center;
}
.right-icon{
    float:right;
}